<h2>ALL RESTAURANTS</h2>

  <!-- RESTAURANT SLIDES -->
  <div class="center">
  <div class="restaurantContainer">
    <% @restaurants.each do |r| %>
      <div class="restaurantBox">
        <!-- <div class="restaurantTitleBox">
          <div class="inlineBlock line">
            <%= link_to r.name, restaurant_path(r.id)  %>
          </div>
        </div> -->
        <div class="restaurantImgContainer">
          <div class="restaurantLink">
            <%= link_to r.name, restaurant_path(r.id)  %>
          </div>
          <%= image_tag r.image, class:"restaurantImg"  %>
        </div>
      </div>
    <% end %>
  </div>
</div>
