
<div class="d-flex flex-row bd-highlight">
  <div class="d-flex align-items-start menu">
    <div class="listContainer">
      <ul>
        <% @restaurants.each do |r| %>

          <li class="restaurantList"><%= link_to r.name, restaurant_path(r.id), class:"linkText"  %></li>

        <% end %>
      </ul>
    </div>
</div>

  <div class="align-self menuImage">
    <%= image_tag @restaurants.first.image %>
  </div>

</div>

<div class="aboutContainer">
  <span class="aboutTitle">
     Three Hats Award
  </span>
    <div class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed urna erat. Integer ut sem vitae augue feugiat lacinia. Suspendisse lacinia blandit magna at suscipit. Ut laoreet aliquet mi, a commodo eros blandit nec. Nam non elit sit amet ante porta fringilla et laoreet ante. Pellentesque venenatis tincidunt libero, ac pharetra lorem maximus in. Aliquam erat volutpat. Phasellus scelerisque, ligula et interdum tincidunt, ante massa bibendum massa, id iaculis mauris metus et erat. Nullam sed quam ut dui pharetra consequat. Phasellus ac finibus eros, vel pharetra massa. Suspendisse potenti. Aliquam vitae placerat nulla. Suspendisse pharetra interdum augue sagittis suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo molestie interdum.
    </div>
</div>
