/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body { //!important
   overscroll-behavior-y: none;
   margin: 0;
   padding: 0;
   font-family: 'Playfair Display', serif;
   height: 100%;
   position: relative;
 }

 .mainContainer {
   min-height: 100vh;
   display: block;
   position: relative;
   padding-bottom: 100px;
 }

.inlineBlock {
  display: inline-block !important;
}

.smiley {
  font-size: 20em;
}

.middle {
  margin: 0 auto;
}

.middleText {
  text-align: center;
}

nav {
  position: fixed;
  z-index: 100;
}

.paddingTitle {
  padding: 15px;
}

.footerBar {
  padding: 20px;
  background-color: black;
  color: rgba(280,280,280,0.5);
  height: 70px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}


.footerList {
  list-style-type: none;
}

.footerRow {
  margin-top: 1em;
}

.footerList > li {
  display: inline;
  padding: 15px;
  font-family: Arial;
}

.arialFont {
  font-family: Arial;
}
