//  // Place all the styles related to the restaurant controller here.
//  // They will automatically be included in application.css.
//  // You can use Sass (SCSS) here: http:sass-lang.com/

// .wrapper {
//   display: block;
// }
//
// a {
//   text-decoration: none;
//   color: white;
// }
//
// a:hover {
//   text-decoration: none !important;
//   color: white !important;
// }
//
// // INDEX PAGE
// .center {
//   margin: 0 auto;
//   max-width: 140vh;
// }
//
// .row {
//   max-width: 30%;
// }
//
//
// .restaurantContainer {
//     display: grid;
//     grid-template-columns: repeat(3, 2fr);
//     grid-auto-rows: 300px;
//     grid-row-gap: 1em;
//     grid-column-gap: 1em;
//   }
//
// .restaurantImgContainer {
//   // max-height: 400px;
//   // overflow: hidden;
//   background: linear-gradient(90deg,rgba(0,0,0,.3) 0,transparent);
//   z-index: 2;
// }
//
// .restaurantBox {
//   overflow: hidden;
//   position: relative;
//   opacity: 0;
// }
//
// .fixed {
//   position: fixed;
// }
//
// .restaurantImg {
//   position: relative;
//   z-index: -1;
// }
//
// .restaurantLink {
//   z-index: 2;
//   position: absolute;
//   top: 40%;
//   left: 10%;
//   font-size: 2em;
// }
//
// .linkText {
//   text-decoration: none;
//   color: white;
// }
//
// .restaurantName {
//   font-size: 3em;
//   margin: 2em 0 2em 0;
//   font-family: 'Rufina', serif;
// }
//
// .backgroundImgContainer {
//   position: absolute;
//   padding: 0;
//   margin: 0;
//   height: 100vh;
//   background: linear-gradient(90deg,rgba(0,0,0,.68) 0,transparent);
//   z-index: -2;
// }
// //
// .backgroundImg {
//   padding: 0;
//   margin: 0;
//   height: 99%;
//   min-width: 100%;
//   position: fixed;
//   opacity: 0.8;
//   z-index: -1;
// }
// //
// .textRestaurant {
//   position: absolute;
//   top: 30%;
//   left: 15%;
//   z-index: 1;
// }
//
// .restaurantTitle {
//   font-size: 2em;
//   color: white;
// }
//
// .infoCard {
//   margin: 0 auto;
//   overflow: auto;
//   padding: 4em 2em 1em 2em;
//   position: absolute;
//   left: 200vh;
//   bottom: 0;
//   height: 100vh;
//   width: 50%;
//   background-color: white;
//   color: black;
//   font-size: 1.2em;
//   line-height: 2.5em;
// }
//
// .textCard {
//   padding: 3em;
//   opacity: 0;
// }
//
// .reviewsBox {
//   overflow: scroll;
//   height: 100%;
//   max-height: 700px;
//   line-height: 1em;
//   border: 1px solid grey;
//   border-radius: 5px;
//   background-color: rgba(93, 147, 157, 0.4);
// }
//
// .reviewCard {
//   max-height: 100%;
//   overflow: hidden;
//   margin: 1em;
//   padding: 1em;
//   border: 1px solid grey;
//   border-radius: 5px;
//   background-color: white;
// }
//
// .reviewImageBox {
//   padding: 1em;
//   text-align: center;
// }
//
// .favReview {
//   padding-top: 1em;
//   border-top: 1px solid grey;
// }
// //
// // .restaurantTitleBox > a {
// //   text-decoration: none;
// //   color: black;
// // }
//
// .modalButton {
//   position: relative;
//   margin: 3em 2em 0 0;
//   float: right;
//   background-color: white !important;
//   color: black !important;
//   border-color: white !important;
//   outline: none !important;
//   box-shadow: none;
//   font-size: 1.2em !important;
// }
//
// .modalButton:active {
//   outline: none !important;
//   box-shadow: none !important;
// }
//
// .modalButton:focus {
//   outline: none !important;
//   box-shadow: none !important;
// }
//
// .modalButton:visited {
//   outline: none !important;
//   box-shadow: none !important;
// }


// new CSS
.menu {
  background-color: white;
  height: 70vh;
  width: 35vw;
  text-align: center;
}

.menuImage {
  overflow-y: hidden;
  max-height:70vh;
  width: 65vw;
}

.listContainer {
}

.restaurantList {
  color: black;
  font-size: 1.5em;
  list-style: none;
}

.restaurantList>a {
  text-decoration: none;
  color: black;
}

.restaurantList>a:hover {
  text-decoration: none;
  color: grey;
}

.aboutContainer {
  background-color: rgba(200, 200, 200, 0.5);
}

.bannerPicture {
  width: 100vw;
  height: 70vh;
}

.restaurantName {
  font-size: 2em;
}

.aboutTitle {
  font-size: 4em;
}

.bottomNav {
  text-align: center;
  background-color: rgba(200, 200, 200, 0.5);
}

.navGridContainer {
  text-align: center;
  margin-top: 4em;
}

.threeHats {
  margin-top: 2em;
}

.descriptionContainer {
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  margin-top: 4em;
  padding: 4em 0 4em 0;
}

.titleDesc {
  color: grey;
  font-size: 3em;
  padding-top: 0;
}

.commentsContainer {
  margin-top: 4em;
  padding: 4em 0 4em 0;
}

.reviewsBox {
  background-color: rgba(200, 200, 200, 0.5);
  text-align: center;
  overflow: scroll;
  max-height: 50vh;
  min-width: 300px;
}

.reviewCard {
  background-color: white;
  margin: 1px 4em 1px 4em;
  padding: 1em 0 1em 0;
  min-height: 30vh;
  // border-bottom: 1px solid black;
}

@media screen and (max-width: 600px) {
  .titleDesc {
    font-size: 30px;
  }
}

.shareLink {
  font-size: 2em;
  margin-top: 1em;
}

.reviewImage {
  max-width: 80%;
  max-height: 30vh;
}
