// Place all the styles related to the review controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.reviewBox {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 5px;
}

div.reviewTitle > * {
  display: inline-block;
}

.indexReviewBox {
  margin-top: 2em;
}

.reviewsScrollIndex {
  max-height: 80vh;
  width: 800px;
}

.resize {
  margin: 0 auto !important;
  width: 600px !important;
  height: 200px;
}
