// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  margin: 0 auto;
  width: 700px;
}

.signUpTitle {
  margin: 0 auto;
  width: 700px;
  font-size: 3em;
  text-align: center;
}

.errors {
  margin: 0 auto;
  width: 700px;
}

.errors > ul > li {
  list-style-type: none;
}

.errors > ol > li {
  list-style-type: none;
}

.signUpContainer {
  margin: 0 !important;
  width: 100%;
  border: 1px solid grey;
  text-align: center;
}

.titleProfile {

}

.inputForm {
  padding-bottom: 3em;
  border-bottom: 1px solid grey;
}

.submitBox {
  margin-top: 1em;
}

.signUpForm {
  margin: 4em 0 4em 0;
}

.profileImageLarge {
  margin: 1em 1em 0 1em;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

.editLink {
  margin-left: 3em;
}

.modalLarger {
  margin: 0 auto !important;
  width: 800px !important;
}

.modalLiked {
  margin-left: 20px;
}
