// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  margin: 0 auto;
  width: 700px;
}

.signUpTitle {

  font-size: 3em;
  text-align: center;
}

.signUpContainer {
  border: 1px solid grey;
  text-align: center;
}

.signUpForm {
  margin: 4em 0 4em 0;
}
