// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  margin: 0 auto;
  width: 700px;
}

.signUpTitle {
  margin: 0 auto;
  width: 700px;
  font-size: 3em;
  text-align: center;
}

.errors {
  margin: 0 auto;
  width: 700px;
}

.signUpContainer {
  width: 50vw;
  border: 1px solid grey;
  text-align: center;
}

.inputForm {
  padding-bottom: 3em;
  border-bottom: 1px solid grey;
}

.submitBox {
  margin-top: 1em;
}

.signUpForm {
  margin: 4em 0 4em 0;
}
